body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 650px;
  width: 400px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: 'Orbitron', sans-serif;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.display-container {
  height: 100px;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 30px 20px;
  color: #41ff00;
  background-color: black;
  overflow: hidden;
}

.display-chain {
  font-size: 1rem;
  margin: 5px;
}

.display-answer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 3rem;
  margin-top: 20px;
  margin-right: 10px;
}

.Button {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 30px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 3px #000, -2px 2px #000, -1px 1px #000;
  background-color: #424242;
  color: #fff;
}

.Button:hover {
  background-color: #313131;
}

.button-container {
  cursor: pointer;
}

.row-of-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.ZeroButton {
  border: 1px solid black;
  border-radius: 6px;
  font-size: 30px;
  height: 80px;
  width: 170px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
  background-color: #424242;
  color: #fff;
}

.ZeroButton:hover {
  background-color: #313131;
}

.sensitiveButton {
  background-color: #ff9100;
  box-shadow: -3px 3px #000, -2px 2px #000, -1px 1px #000;
  border: 1px solid #000;
}

.sensitiveButton:hover {
  background-color: #ff6d00;
}
#equalButton {
  background-color: #4caf50;
  box-shadow: -3px 3px #000, -2px 2px #000, -1px 1px #000;
  border: 1px solid #000;
}
#equalButton:hover {
  background-color: #43a047;
}

.operationButton {
  background-color: #42a5f5;
  box-shadow: -3px 3px #000, -2px 2px #000, -1px 1px #000;
  border: 1px solid #000;
}

.operationButton:hover {
  background-color: #2196f3;
}

@media (max-width: 450px) {
  .App {
    height: 500px;
    width: 300px;
    box-sizing: border-box;
  }
  .display-container {
    margin: 15px 10px;
  }
  .Button {
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
  }
  .ZeroButton {
    height: 60px;
    width: 130px;
    font-size: 1.5rem;
  }
}
